/* mainDiv */

#mainDiv {
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    width: 73%;
    height: 90%;
    display: inline-block;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 15px grey;
}

#pageTitle {
    text-align: center;
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 33px;
    color: #5C687B;
    font-weight: bold;
}

#courseListDiv {
    padding: 30px 80px 80px 80px;
}

#courseListDiv img {
    width: 80px;
}

.course {
    margin-left: 20px;
}

.courseInfo {
    display: inline-block;
    margin-left: 20px;
}

.courseSemester {
    font-size: 17px;
    color: #5C687B;
}

.courseName {
    font-size: 30px;
    font-weight: bold;
}

.courseClass {
    font-size: 17px;
    color: black;

}

#courseListDiv hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.taLabel {
    display: inline-block;
    width: 50px;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid#DE8244;
    color: #DE8244;
    float: right;
    margin-right: 25px;
    vertical-align: top;
    margin-top: 30px;
}