#stasticDiv {
    margin: 30px 100px;
    text-align: center;
}

#stasticDiagramDiv {
    width: 100%;
    min-width: 310px;
    max-width: 800px;
    height: 400px;
}

#submenu {
    float: right;
    margin-right: 20px;
}

.submenuButton {
    text-align: center;
    line-height: 28px;
    display: inline-block;
    color: #429488;
    background-color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid#429488;
    margin-left: 10px;
}

.submenuButton:hover {
    background-color: #429488;
    color: white;
    cursor: pointer;
}

.firstSubButton {
    margin-left: 0px;
}

.onFocus {
    background-color: #429488;
    color: white;
}

.notFocus {
    background-color: white;
    color: #429488;
}