<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/assignment.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName">物件導向程式設計</label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/stastic">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= course._id %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label>Homework #3</label>
                <a href="/pass/correct">
                    <label id="topButton">批改作業</label>
                </a>
            </div>

            <div id="assignmentDiv">
                <table>
                    <tr>
                        <th>
                            作業名稱
                        </th>
                        <td>
                            <label>Homework #3</label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            作業狀態
                        </th>
                        <td class="status">
                            <label class="haventStart">尚未開始</label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            繳交期限
                        </th>
                        <td>
                            <label>2018/01/27 - 2018/02/10</label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            作業描述
                        </th>
                        <td>
                            <label>Textbook Ch12 p.237 programming project 12.</label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            繳交情況
                        </th>
                        <td>
                            <label>已交 0人</label><br>
                            <label>未交 62人</label>
                        </td>
                    </tr>
                </table>
            </div>

            <a href="/pass/editAssignment" class="whiteButton">編輯</a>
            <a href="/pass/assignmentList" class="whiteButton" id="exitBtn">離開</a>
        </div>
    </div>

    <%- include('footer') -%>
    
</body>

</html>