<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/editAssignment.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName">物件導向程式設計</label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/stastic">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label>Homework #3</label>
            </div>

            <div id="assignmentDiv">
                <table>
                    <tr>
                        <th>
                            作業名稱
                        </th>
                        <td>
                            <input type="text" value="Homework #3">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            繳交期限
                        </th>
                        <td>
                            <input type="date" value="2018-01-27"> -
                            <input type="date" value="2018-02-10">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            作業描述
                        </th>
                        <td>
                            <textarea cols="80" rows="5">Textbook Ch12 p.237 programming project 12.</textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <input type="submit" value="確認">
            <input type="submit" id="exitBtn" value="離開">

        </div>
    </div>

    <%- include('footer') -%>
    
</body>

</html>