<html lang="en">
  
  <head>
      <title>PASS</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  
      <body>
            <div id = "leftDiv">
                <img src="/image/dot.png">
            </div>

            <div id = "rightDiv">
                <input type="text" class="accountText" id="idText" placeholder="ID">
                <input type="text" class="accountText" id="pwdText" placeholder="Password">
                <br>
                <button id="loginBtn"><a id="btnFont" href="/course">login</a></button>
            </div>
          
      </body>
  
  </html>