<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/stastic.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName">物件導向程式設計</label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList/<%= course._id%>">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/stastic">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= course._id %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label>成績統計</label>
            </div>

            <div id="stasticDiv">
                <div id="stasticDiagramDiv">
                    <img src="/image/stastic1.png">
                </div>
                <div id="subMenu">
                    <a href="#"><label class="submenuButton firstSubButton" id="onFocus">成績統計</label></a>
                    <a href="#"><label class="submenuButton">繳交統計</label></a>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') -%>
    
</body>

</html>